.advantages {
  margin: 160px 0;

  @media (max-width: $breakpoint992) {
    margin: 80px 0;
  }

  @media (max-width: $breakpoint768) {
    margin: 60px 0;
  }

  // .advantages__inner

  &__inner {}

  // .advantages__head

  &__head {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    margin-bottom: 64px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }
  }

  // .advantages__title

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    text-align: center;
    color: var(--black);

    @media (max-width: $breakpoint992) {
      font-size: 32px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 26px;
    }
  }

  // .advantages__text

  &__text {
    max-width: 440px;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #718096;
  }

  // .advantages__content

  &__content {
    max-width: 940px;
    margin: 0 auto;
  }

  // .advantages__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 50px;

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 32px;
      justify-items: center;
    }
  }

  // .advantages__item

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (max-width: $breakpoint768) {
      align-items: center;
    }
  }

  // .advantages__item-picture

  &__item-picture {}

  // .advantages__item-info

  &__item-info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @media (max-width: $breakpoint768) {
      align-items: center;
    }
  }

  // .advantages__item-label

  &__item-label {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #2d3748;

    @media (max-width: $breakpoint768) {
      text-align: center;
    }
  }

  // .advantages__item-descr

  &__item-descr {
    font-size: 14px;
    line-height: 140%;
    color: #718096;

    @media (max-width: $breakpoint768) {
      text-align: center;
    }
  }
}