.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }
}

.section {
  padding: 60px 0;


  @media (max-width: $breakpoint768) {
    padding: 40px 0;
  }
}

.section-head {
  display: flex;
  align-items: flex-start;
  column-gap: 24px;
  margin-bottom: 40px;

  @media (max-width: $breakpoint992) {
    margin-bottom: 40px;
  }

  @media (max-width: $breakpoint768) {
    margin-bottom: 24px;
    column-gap: 12px;
  }
}

.section-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  min-width: 48px;
  height: 48px;
  background: var(--light-gray);
  border-radius: 8px;
}

.section-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: var(--black);

  @media (max-width: $breakpoint992) {
    font-size: 32px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 26px;
  }
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  padding: 12px;
  border-radius: 6px;
  background: linear-gradient(15deg, #df87f1 0%, #219f70 100%);

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
}

.btn-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  padding: 12px;
  border-radius: 6px;
  background: transparent;
  border: 1px solid #a0aec0;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: #a0aec0;
}


.btn-white {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 240px;
  min-height: 48px;
  border-radius: 6px;

  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 120%;
  color: var(--black);
  transition: color 0.2s linear;
  background-color: var(--white);

  @media (hover:hover) {
    &:hover {
      color: var(--green);
    }
  }
}