// Footer
.footer {
  padding: 80px 0;
  background-color: var(--light-gray);


  @media (max-width: $breakpoint768) {
    padding: 40px 0;
  }

  // .footer__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;


    @media (max-width: $breakpoint992) {
      column-gap: 20px;
    }


    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 40px;
    }
  }

  // .footer__nav

  &__nav {
    flex: 0 1 470px;
    display: flex;
    column-gap: 60px;


    @media (max-width: $breakpoint992) {
      column-gap: 40px;
    }


    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
    }


    @media (max-width: $breakpoint768) {
      column-gap: 20px;
    }
  }

  // .footer__nav-list

  &__nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  // .footer__nav-item

  &__nav-item {}

  // .footer__nav-item--label

  &__nav-item--label {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--black);


    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }


    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .footer__nav-link

  &__nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
    transition: 0.2s linear;

    @media (hover:hover) {
      &:hover {
        color: var(--green);
      }
    }

  }

  // .footer__contacts

  &__contacts {
    flex: 0 1 512px;


    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
      height: fit-content;
    }
  }

  // .footer__title

  &__title {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--black);


    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }
  }

  // .footer__group

  &__group {
    position: relative;


    @media (max-width: $breakpoint768) {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      height: fit-content;
    }
  }

  // .footer__input

  &__input {
    padding: 18px 260px 18px 18px;
    width: 100%;
    background-color: var(--white);
    border-radius: 12px;
    border: 1px solid transparent;
    outline: 0;

    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: var(--black);
    transition: 0.2s linear;

    @media (hover:hover) {
      &:hover {
        border-color: var(--green);
      }
    }

    &:active,
    &:focus {
      border-color: var(--green);
    }

    &::placeholder {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 20px;
      letter-spacing: -0.02em;
      color: var(--black-60);
    }


    @media (max-width: $breakpoint992) {
      padding: 18px 200px 18px 18px;
    }


    @media (max-width: $breakpoint768) {
      padding: 12px;
      height: 48px;
      font-size: 16px;

      &::placeholder {
        font-size: 16px;
      }
    }
  }

  // .footer__btn

  &__btn {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);


    @media (max-width: $breakpoint992) {
      min-width: 180px;
    }


    @media (max-width: $breakpoint768) {
      position: static;
      width: 100%;
    }
  }
}