// Header
.header {}

// Header

// Navbar
.nav {}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  column-gap: 20px;
  padding: 20px 0;
}

.logo {

  // .logo__link

  &__link {}

  // .logo__img

  &__img {

    @media (max-width: 1200px) {
      width: 160px;
      height: auto;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: 75%;

  @media (max-width: 1200px) {
    width: 80%;
    column-gap: 12px;
  }

  // .menu__item

  &__item {}

  // .menu__item-link

  &__item-link {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.02em;
    color: var(--black);

    transition: 0.2s linear;

    @media (hover:hover) {
      &:hover {
        color: var(--green);
      }
    }

    &.btn {
      min-height: 38px;
      min-width: 186px;
      font-weight: 800;
      color: var(--white);

      @media (hover:hover) {
        &:hover {
          color: var(--white);
        }
      }
    }
  }

  // .menu__item--ml

  &__item--ml {
    margin-left: auto;
  }

  // .menu__item--enter

  &__item--enter {
    .menu__item-link {
      min-height: 38px;
      padding: 10px 20px;
      width: fit-content;
      background: var(--light-gray);
      border-radius: 6px;
      font-weight: 800;
    }
  }

  // .menu__item--languages

  &__item--languages {

    .menu__item-link {
      width: 38px;
      height: 38px;
      border-radius: 8px;
      background: var(--icon);
    }
  }

  // .menu__item-img

  &__item-img {}
}




.burger {
  display: none;
  cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {
  .logo {
    z-index: 23;
  }

  .menu__item--ml {
    margin-left: 0;

    .menu__item-link {
      min-width: 204px;
      color: var(--black);
    }
  }

  // .menu
  .menu {
    position: fixed;
    background: var(--white);
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 22;
      animation: fade 0.1s linear;
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: $burgerActiveColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: $burgerActiveColor;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background: $burgerColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $burgerColor;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }

  // .menu__item
  .menu__item {
    margin-top: 20px;
  }

  // .menu__link
  .menu__item-link {
    font-size: 16px;
    color: var(--black);
  }
}