.security {
  margin: 140px 0;

  @media (max-width: $breakpoint992) {
    margin: 80px 0;
  }

  @media (max-width: $breakpoint768) {
    margin: 60px 0;
  }

  // .security__inner

  &__inner {}

  // .security__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 80px;

    @media (max-width: $breakpoint992) {
      row-gap: 60px;
    }

    @media (max-width: $breakpoint768) {
      row-gap: 40px;
    }

  }

  // .security__item

  &__item {
    display: flex;
    align-items: center;
    column-gap: 40px;
    justify-content: space-between;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 40px;
      align-items: flex-start;

      &:nth-child(even) {
        flex-direction: column;
      }
    }
  }

  // .security__item-picture

  &__item-picture {
    flex: 0 1 auto;

    @media (max-width: $breakpoint992) {


      img {
        width: 400px;
      }
    }


    @media (max-width: $breakpoint768) {
      margin: 0 auto;

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }
  }

  // .security__item-info

  &__item-info {
    flex: 0 1 580px;

    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @media (max-width: $breakpoint992) {
      flex: 0 1 340px;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
    }
  }

  // .security__item-title

  &__item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    color: var(--black);

    @media (max-width: $breakpoint992) {
      font-size: 30px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  // .security__item-descr

  &__item-descr {
    font-size: 14px;
    line-height: 140%;
    color: #718096;
  }
}