.steps {

  // .steps__inner

  &__inner {}

  // .steps__list

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    row-gap: 30px;

    @media (max-width: 1200px) {
      column-gap: 20px;
      row-gap: 20px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .steps__item

  &__item {
    display: grid;
    align-content: baseline;
  }

  // .steps__item-head

  &__item-head {
    margin-bottom: 32px;

    @media (max-width: 1200px) {
      margin-bottom: 24px;
    }
  }

  // .steps__item-num

  &__item-num {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 96px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--grey);

    @media (max-width: 1200px) {
      margin-bottom: 24px;
      font-size: 72px;
    }
  }

  // .steps__item-border

  &__item-border {
    position: relative;
    border-bottom: 2px solid var(--grey);

    img {
      position: absolute;
      left: 0;
      top: -7px;
    }
  }

  // .steps__item-texts

  &__item-texts {}

  // .steps__item-text

  &__item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);

    @media (max-width: 1200px) {
      font-size: 14px;
    }
  }
}