.tehno {

  // .tehno__inner

  &__inner {
    background-image: url("data:image/svg+xml,%3Csvg width='240' height='48' viewBox='0 0 240 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_2216_2774)'%3E%3Ccircle cx='19.5213' cy='-29.6352' r='68.585' fill='%23A1C665' /%3E%3C/g%3E%3Cg filter='url(%23filter1_f_2216_2774)'%3E%3Cellipse cx='189.812' cy='-36.9615' rx='99.3604' ry='94.0846' fill='url(%23paint0_linear_2216_2774)' /%3E%3C/g%3E%3Cg filter='url(%23filter2_f_2216_2774)'%3E%3Cellipse cx='80.7791' cy='103.14' rx='129.843' ry='111.084' fill='url(%23paint1_linear_2216_2774)' /%3E%3C/g%3E%3Cg filter='url(%23filter3_f_2216_2774)'%3E%3Cellipse cx='210.622' cy='124.244' rx='83.24' ry='78.8435' fill='%231288AA' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_2216_2774' x='-104.166' y='-153.323' width='247.375' height='247.375' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='27.5513' result='effect1_foregroundBlur_2216_2774' /%3E%3C/filter%3E%3Cfilter id='filter1_f_2216_2774' x='11.9013' y='-209.597' width='355.821' height='345.27' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='39.2752' result='effect1_foregroundBlur_2216_2774' /%3E%3C/filter%3E%3Cfilter id='filter2_f_2216_2774' x='-127.614' y='-86.4942' width='416.786' height='379.269' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='39.2752' result='effect1_foregroundBlur_2216_2774' /%3E%3C/filter%3E%3Cfilter id='filter3_f_2216_2774' x='48.8315' y='-33.1501' width='323.581' height='314.788' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='39.2752' result='effect1_foregroundBlur_2216_2774' /%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_2216_2774' x1='82.2449' y1='-59.8232' x2='151.416' y2='30.4511' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23AF56FF' /%3E%3Cstop offset='1' stop-color='%23F76DFC' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_2216_2774' x1='4.44122' y1='14.5192' x2='202.293' y2='119.191' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2310AD74' /%3E%3Cstop offset='1' stop-color='%2300663E' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 6px;
    padding: 40px 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 40px;
      padding: 20px;
    }
  }


  // .tehno__info

  &__info {
    flex: 0 1 408px;

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
    }
  }

  // .tehno__title

  &__title {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--white);

    @media (max-width: $breakpoint992) {
      font-size: 32px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 28px;
    }
  }

  // .tehno__logo

  &__logo {

    @media (max-width: $breakpoint768) {
      max-width: 120px;
      height: auto;
    }
  }

  // .tehno__text

  &__text {
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--white);

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  // .tehno__btn

  &__btn {
    margin-top: auto;
    width: fit-content;

    @media (max-width: $breakpoint768) {
      width: 100%;
    }
  }

  // .tehno__picture

  &__picture {}

  // .tehno__pic

  &__pic {
    @media (max-width: $breakpoint992) {
      max-width: 280px;
      width: 100%;
    }

  }
}